{{ block "game" . }}
<header>
    {{ template "nav" "Игра" }}
</header>
<main>
    <section class="d-flex mt-4 h5 justify-content-center">
        <span title="сценарий">{{ .Name }}</span>
    </section>
    <section class="mt-4">
        <div id="current-question" class="m-3">
            {{ template "current-question" .Current }}
        </div>
    </section>
    <section>
        <div class="container-fluid mt-5">
            <div class="d-flex align-content-around align-items-center flex-wrap">
                {{ template "scores" .Scores }}
            </div>
        </div>
    </section>
</main>
{{ end }}


{{ block "scores" . }}
    {{ range . }}
        {{ template "card" . }}
    {{ else }}
    <a class="btn btn-primary" href="/" role="button">Закрыть</a>
    {{ end }}
{{ end }}


{{ block "card" . }}
<div id="cards-{{ . }}" hx-swap="outerHTML" title="случайный вопрос на {{ . }} {{ declensionScores . }}" class="card shadow m-4 mx-auto" style="width: 10rem; height: 5rem;">
    <input type="button" hx-delete="/game/next/{{ . }}" hx-target="#cards-{{ . }}" class="card-body align-middle text-center btn btn-outline-dark bg-gradient border-0" value="{{ . }}"/>
</div>
{{ end }}


{{ block "oob-card" . }}
<div id="cards-{{ . }}" hx-swap="outerHTML" title="случайный вопрос на {{ . }} {{ declensionScores . }}" class="card shadow m-4 mx-auto" style="width: 10rem; height: 5rem;">
    <input type="button" hx-delete="/game/next/{{ . }}" hx-target="#cards-{{ . }}" class="card-body align-middle text-center btn btn-outline-dark bg-gradient border-0" value="{{ . }}"/>
</div>
{{ end }}


{{ block "current-question" . }}
<div class="form-floating">
    <textarea id="question" name="question" readonly class="form-control" style="height: 7rem;">{{ .Question }}</textarea>
    <label for="question">Вопрос</label>
</div>
{{ if .Answer }}
<div id="hided-answer" hx-swap="outerHTML" class="form-floating input-group mt-3">
    <button id="show-answer" hx-get="/questions/{{ .ID }}/answer" hx-target="#hided-answer" class="btn btn-outline-secondary" title="показать ответ">
        <img src="/static/pic/eye.svg" height="24" aria-hidden="true">
    </button>
    <span id="answer" name="answer" readonly class="form-control">•••••</span>
    <label for="answer" class="ms-5">Ответ</label>
</div>
{{ else }}
{{ template "showed-answer" .Answer }}
{{ end }}
<div class="form-floating mt-3">
    <span id="score" name="score" readonly class="form-control">{{ .Score }}</span>
    <label for="score">Баллы</label>
</div>
{{ end }}


{{ block "oob-current-question" . }}
<div id="current-question" hx-swap-oob="innerHTML">
    {{ template "current-question" . }}
</div>
{{ end }}


{{ block "showed-answer" . }}
<div class="form-floating mt-3">
    <textarea id="answer" name="answer" readonly class="form-control" style="height: 5rem;">{{ . }}</textarea>
    <label for="answer">Ответ</label>
</div>
{{ end }}


{{ block "scenario-game" . }}
<div id="question-{{ .ID }}" class="mt-3 pt-2 border rounded bg-light">
    <table>
        <colgroup>
            <col span="1" style="width: 0%;">
            <col span="1" style="width: 100%;">
        </colgroup>
        <tbody><tr>
            <td>
                <div class="ms-2">
                    <button class="btn btn-outline-success border-0" onclick="location.href='/game/scenarios/{{ .ID }}'" type="button" title="играть сценарий">
                        <img src="/static/pic/play.svg" height="24" aria-hidden="true">
                    </button>
                </div>
            </td>
            <td class="container">
                <div class="row g-1 d-flex align-items-center mb-1">
                    <div class="col">
                        <span class="form-control text-truncate" title="{{ .Description }}">{{ .Name }}</span>
                    </div>
                </div>
            </td>
        </tr></tbody>
    </table>
</div>
{{ end }}